<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./templates/header.ejs')%>
</head>

<body>
  <%-include('./templates/navegation.ejs')%>
    <center>
      <br>
      <div class="card border-success" style="width: 48rem;">


        <div class="card-body">
          <h5 class="card-title">Agregar zapatos </h5>

          <form method="POST" action="/addProduct" class="row g-3 needs-validation">
            <div class="col-md-6">
              <label for="ID" class="form-label">ID</label>
              <input type="number" class="form-control" id="ID" name="ID" required>
            </div>
            <div class="col-md-6">
              <label for="Brand" class="form-label">Marca</label>
              <input type="text" class="form-control" id="Brand" name="Brand" required>
            </div>
            <div class="col-md-6">
              <label for="Model" class="form-label">Modelo</label>
              <input type="text" class="form-control" id="Model" name="Model">
            </div>
            <div class="col-6">
              <label for="Color" class="form-label">Color</label>
              <input type="text" class="form-control" id="Color" name="Color" placeholder="Ingrese el color principal">
            </div>
            <div class="col-6">
              <label for="Size" class="form-label">Talla</label>
              <input type="number" class="form-control" id="Size" name="Size" placeholder="Unidades en US">
            </div>
            <div class="col-md-6">
              <label for="Price" class="form-label">Precio</label>
              <input type="number" step="0.01" class="form-control" id="Price" name="Price" placeholder="USD $">
            </div>
            <div class="col-12">
              <input type="submit" value="Guardar" class="btn btn-primary">

            </div>
          </form>
        </div>
      </div>
  </center>
   
 <!-- Archivos JavaScript de Bootstrap -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
   

</html>